<body>
    <h1>Salut ! C'est 
        <% if(day >= 1 && day < 6){%>
          la semaine, il est temp de travailler dur ! <%= day %> 
        <% } else {%>
            le weekend, c'est l'heure du repos et de l'amusement !
            <% } %>
    </h1>
</body>